* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}

/* GERAL */
.btn-azul {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #151544;
    padding: 10px 40px;
    border-radius: 50px;
    display: table;
}
.btn-azul:hover {
    color: #fff;
    background: #000;
}
.btn-laranja {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #ef7311;
    padding: 10px 40px;
    border-radius: 50px;
    display: table;
}
.btn-laranja:hover {
    color: #fff;
    background: #151544;
}

/* MENU */
.navbar-default {
    background: #ffffff;
    border-color: transparent;
    height: 100px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header .navbar-brand {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
#bs-example-navbar-collapse-1 {
    float: right;
    height: 100px;
    padding: 0;
}
.navbar-header img {
    margin-left: 15px;
}
.nav .container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.nav {
    height: 100px;
    display: flex;
    align-items: center;
}
ul.nav>li {
    margin-top: 5px;
}
ul.nav>li:after {
    content: "";
    width: 4px;
    height: 4px;
    background: #a9978d;
    border-radius: 50px;
    display: block;
    top: -13px;
    position: relative;
    left: -1px;
}
ul.nav>li:first-child:after {
    display: none;
}
ul.nav>li>a {
    font-size: 16px;
    color: #a64e20!important;
    text-transform: uppercase;
    padding: 0 15px;
}
ul.nav>li>a:hover {
    font-weight: bold;
}
.telefones {
    background: #151544;
    padding: 10px 20px;
    border-radius: 50px;
}
.telefones span {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 0 10px;
}
.telefones .fa {
    font-size: 20px;
    color: #ffcc51;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    margin-top: -20px;
}
.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-dots .owl-dot span {
    width: 30px;
    height: 4px;
    margin: 5px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50px;
}
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: #ffcc51;
}

.produtos {
    border-top: 200px solid #ef7311;
}
.produtos h1 {
    font-size: 26px;
    color: #ffcc51;
    text-align: center;
    letter-spacing: 15px;
    margin-top: -160px;
}
.produtos h1:after {
    content: "";
    width: 210px;
    height: 4px;
    display: block;
    background: #fff;
    border-radius: 50px;
    margin: 15px auto 0;
}
.produtos ul {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0;
}
.produtos img {
    display: table;
    margin: 0 auto;
    transition: 1s;
}
.produtos h4 {
    font-size: 20px;
    color: #151544;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0;
    transition: 1s;
}
.produtos a:hover img {
    transform: scale(1.1);
}
.produtos a:hover h4 {
    font-weight: bold;
    color: #a64e20;
    border-bottom: 4px solid #a64e20;
}
.produtos .btn-azul {
    margin: 50px auto;
}

.vantagens {
    background: url("../images/bg-vantagens.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
}
.vantagens .container>div {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vantagens .item {
    text-align: center;
}
.vantagens h4 {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0 0;
}

.sobre {
    padding: 60px 0;
}
.sobre h2 {
    font-size: 28px;
    font-weight: bold;
    color: #151544;
    width: 100%;
    max-width: 710px;
    margin: 0 auto;
}
.sobre h2 span {
    color: #ef7311;
}
.sobre .btn-laranja {
    margin: 30px auto 0;
}

footer {
    background: #151544;
    padding: 80px 0;
}
footer .container>div {
    display: flex;
    justify-content: space-between;
}
footer h4 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 20px;
}
footer .redes-sociais {
    display: flex;
    margin: 0;
}
footer .redes-sociais>li>a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #ffcc51;
    margin-right: 15px;
}
footer .redes-sociais>li>a:hover {
    background: #ef7311;
}
footer .redes-sociais>li .fa {
    font-size: 20px;
    color: #151544;
}
footer p {
    font-size: 15px;
    color: #fff;
    margin: 20px 0 0;
}
footer p span {
    font-weight: bold;
}
footer h5 {
    font-size: 22px;
    font-weight: bold;
    color: #ffcc51;
    margin: 0;
}
footer .menu-bottom>li {
    color: #ffcc51;
    margin-bottom: 5px;
    list-style: initial;
    list-style-position: inside;
}
footer .menu-bottom>li>a {
    font-size: 15px;
    color: #fff;
}
footer .menu-bottom>li>a:hover {
    color: #ffcc51;
}

.topo-interna.empresa {
    background: url(../images/bg-empresa.jpg) no-repeat;
}
.topo-interna.produtos-int {
    background: url(../images/bg-produtos.jpg) no-repeat;
}
.topo-interna.contato {
    background: url(../images/bg-contato.jpg) no-repeat;
}
.topo-interna {
    width: 100%;
    height: 200px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topo-interna h1 {
    font-size: 26px;
    color: #fff;
    letter-spacing: 15px;
    margin: 0;
}
.topo-interna h1:after {
    content: "";
    width: 210px;
    height: 4px;
    display: block;
    background: #ffcc51;
    border-radius: 50px;
    margin: 15px auto 0;
}

.interna {
    padding: 80px 0;
}
.interna p {
    font-size: 16px;
    color: #2d2d2d;
    text-align: justify;
    margin: 0 0 15px
}

.empresa h2 {
    font-size: 28px;
    font-weight: bold;
    color: #151544;
    width: 100%;
    max-width: 710px;
    margin: 0 auto 50px;
}
.empresa h2 span {
    color: #ef7311;
}
.empresa .btn-azul {
    text-align: center;
    margin: 40px auto 0;
}

.panel-default {
    border-color: transparent;
    background: transparent;
}
.panel-default>.panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}
.panel-title {
    width: 100%;
}
.accordion-toggle.collapsed {
    font-size: 20px;
    color: #fff;
    display: block;
    height: 50px;
    background: #151544 !important;
    border-radius: 5px;
    padding: 14px 15px;
}
.accordion-toggle {
    font-size: 20px;
    color: #fff!important;
    background: #ef7311;
    display: block;
    height: 50px;
    border-radius: 5px;
    padding: 14px 15px;
}
.panel-heading .accordion-toggle:after {
    font-family: FontAwesome;
    content: "\f107";
    float: right;
    color: #fff;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\f105";
}
.panel-collapse {
    border-top: none;
    margin-top: -14px;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
    background: #e4e4e4;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
}

.panel-body ul>li {
    color: #575757;
    margin-bottom: 5px;
    list-style: initial;
    list-style-position: inside;
}
.panel-body ul>li>a {
    font-size: 16px;
    font-weight: bold;
    color: #575757;
}
.panel-body ul>li>a:hover {
    color: #ef7311;
}

.produtos-int .item {
    margin-bottom: 50px;
}
.produtos-int img {
    transition: 1s;
}
.produtos-int .img {
    background: #ededed;
    border-radius: 5px;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produtos-int a:hover img {
    transform: scale(1.1);
}
.produtos-int .content {
    text-align: center;
    background: #ef7311;
    padding: 20px 0;
    border-radius: 0 0 5px 5px;
    margin-top: -3px;
    position: relative;
    z-index: -1;
}
.produtos-int .content h2 {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.produtos-int .content h5 {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.produtos-int .conteudo {
    padding: 20px 10px;
    border-bottom: 2px solid #c6c6c6;
}
.produtos-int .conteudo h4 {
    font-size: 13px;
    color: #484848;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.produtos-int .conteudo ul {
    display: flex;
    justify-content: space-between;
}
.produtos-int .conteudo li {
    text-align: center;
}
.produtos-int .conteudo img {
    margin-bottom: 10px;
}
.produtos-int .conteudo p {
    font-size: 17px;
    font-weight: bold;
    color: #151544;
    text-align: center;
    margin: 0;
}

.contato input {
    font-size: 15px;
    font-weight: bold;
    color: #454545;
    height: 45px;
    border: none;
    border-radius: 50px;
    background: #dbdbdb;
    padding-left: 20px;
    margin-bottom: 10px;
}
.contato input.form-control:focus {
    border: 1px solid #ef7311;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.contato button {
    width: 100%;
    border: none;
}
.contato p.msg-sucesso {
    color: #77b615;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
.contato p.msg-erro {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
.contato ul>li {
    margin-bottom: 30px;
}
.contato ul>li:first-child span {
    height: 60px;
}
.contato ul>li:nth-child(2) span {
    height: 47px;
}
.contato ul>li:nth-child(3) span {
    height: 36px;
}
.contato ul>li:last-child span {
    height: 80px;
}
.contato span {
    float: left;
    width: 60px;
    display: flex;
    align-items: center;
}
.contato .fa {
    font-size: 30px;
    color: #a9a9a9;
}
.contato h2 {
    font-size: 28px;
    font-weight: bold;
    color: #ef7311;
    margin: 0;
}
.contato h2 strong {
    color: #151544;
}
.contato h4 {
    font-size: 16px;
    font-weight: bold;
    color: #2d2d2d;
    margin: 0;
}
.contato p {
    font-size: 16px;
    color: #2d2d2d;
    margin: 0;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    .nav .container>div {
        display: block;
    }
    .navbar-default {
        height: 130px;
    }
    #bs-example-navbar-collapse-1 {
        float: none;
        background: #fff;
        z-index: 300;
        position: relative;
        min-height: 300px;
        height: 100%;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        top: -19px;
    }
    .navbar-toggle {
        padding: 15px;
        margin-top: 15px;
        margin-right: 0;
    }
    .navbar-header,
    .navbar-header .navbar-brand {
        height: 80px;
    }
    #menu ul.nav.navbar-nav {
        float: none;
        display: block;
        text-align: center;
    }
    #menu ul.nav.navbar-nav>li {
        margin-bottom: 20px;
    }
    ul.nav>li:after {
        display: none;
    }
    .navbar-nav {
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }
    .navbar-brand .logo {
        width: 150px;
        margin-left: 0;
    }
    .telefones {
        padding: 8px 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .telefones span {
        font-size: 14px;
        margin: 0 5px;
    }
    .telefones .fa {
        font-size: 18px;
        margin-right: 0px;
    }
    .vitrine img {
        height: 140px;
        object-fit: cover;
    }
    .vitrine .owl-dots {
        display: none;
    }
    .produtos ul {
        display: block;
    }
    .produtos ul>li {
        margin-bottom: 30px;
    }
    .sobre .btn-laranja,
    .produtos .btn-azul {
        text-align: center;
    }
    .vantagens {
        padding: 30px 0;
        height: auto;
    }
    .vantagens .container>div {
        height: auto;
        display: block;
    }
    .vantagens .item {
        margin-bottom: 30px;
    }
    footer .container>div {
        display: block;
        text-align: center;
    }
    footer .item {
        margin-bottom: 40px;
    }
    footer .redes-sociais {
        justify-content: center;
    }
    .produtos-int .item {
        margin-bottom: 30px;
    }
    .contato span {
        width: 40px;
    }
    .contato ul {
        margin-top: 40px;
    }
    .contato ul>li:first-child span {
        height: 44px;
    }
    .contato ul>li:nth-child(2) span {
        height: 39px;
    }
    .contato h2 {
        font-size: 20px;
    }
    .contato p {
        font-size: 13px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header img {
        width: 150px;
    }
    ul.nav>li>a {
        font-size: 14px;
        padding: 0 10px;
    }
    .telefones {
        padding: 10px;
    }
    .telefones span {
        font-size: 11px;
        margin: 0 5px;
    }
    .telefones .fa {
        font-size: 14px;
    }
    .accordion-toggle,
    .accordion-toggle.collapsed {
        font-size: 18px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    
}